#store{
    display: grid;
    gap: 1em;
    min-height: 100vh;
    max-width: 1400px;
    margin-inline: auto;
}
#store>*{
}

.section{
    width: 85%;
    margin-inline: auto;
  
    overflow: hidden;
}
.row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 1em;
    overflow: hidden;
}

.row>*{
    height: 250px;
}
.row1InnerHeader{
    display: flex;
    justify-content: space-between;
    
    
}
.row1InnerHeader>*{
    height: fit-content;
    
    
}

.shopImg>img{
    height: 250px;
    max-width: 300px;
    
}


#hotDeal{
    width: 100%;
    display: grid;
    grid-template-columns: auto 35% auto;
    background-color: rgba(128, 128, 128, 0.1);
    position: relative;
    margin-top: 2em;
    
}

#hotDeal>*{
    text-align: center;
    

}
.hotDealCountDown{
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    padding: 0px;   
    gap: 2em; 
}

#leftImage > img{
    width: 400px;
    height: 450px;
}
#rightImage > img{
    width: 400px;
    height: 450px;
}
.gridTopSellingProducts{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(200px, 1fr));
    gap: 4em;
    justify-content: space-between;
    margin-top: 3em;
}




.title{
    color: #181b29;
    margin-block: auto;
}
.row1header{
    padding-top: 1em;
    padding-bottom:.5em;
    
}
#countDownElement > div>*{
    width: fit-content;
    margin-inline: auto ;
    
    margin-top: auto;
    
}
#countDownElement > div{
    width: fit-content;
    margin-inline:auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#countDownElement{
    border: 4px solid lightblue;
    width: 60px;
    height: 60px;
    margin-inline: auto;
    border-radius: 25px;
    position: relative;
}
.hotDeal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: red;
}
.shopNowBtn{
    text-decoration: none;
    color: inherit;
    font-weight: bolder;
    
}
.shopNowBtn:hover{
    color: lightblue;
    
}


