#store{
    display: grid;
    gap: 1em;
}
#store>*{
}

.section{
    width: 85%;
    margin-inline: auto;
  
    overflow: hidden;
}
.row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 1em;
    overflow: hidden;
}

.row>*{
    height: 250px;
}
.row1InnerHeader{
    display: flex;
    justify-content: space-between;
    
}
.row1InnerHeader>*{
    height: fit-content;
    
    
}

.shopImg>img{
    height: 250px;
    max-width: 300px;
    
}


#hotDeal{
    width: 100%;
    display: grid;
    grid-template-columns: auto 35% auto;
    background-color: rgba(24, 27, 41, 0.03);
    position: relative;
    margin-top: 2em;
    
}

#hotDeal>*{
    text-align: center;
    

}
.hotDealCountDown{
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    padding: 0px;   
    gap: 2em; 
}

#leftImage > img{
    width: 400px;
    height: 450px;
}
#rightImage > img{
    width: 400px;
    height: 450px;
}
.gridTopSellingProducts{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(200px, 1fr));
    gap: 4em;
    justify-content: space-between;
    margin-top: 3em;
}
.newsLetterContainer{
    margin-block: 3em;
    border-top: 2px solid rgb(24, 27, 41,.3);
    padding-block: 1.5em;
    
}
.newsLetter{
    width: fit-content;
    margin-inline: auto;
}
.newsLetter>p{
    width: fit-content;
    margin-inline: auto;
    color: #181b29;
}
.socialMediaFollow{
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    width: fit-content;
    margin-inline: auto;
    gap: 1em;
    padding: 0px;
    margin: 0px;
    margin-inline: auto;
    margin-block: 1em;
}


#smIconId{
    color: rgba(24, 27, 41, 0.8);
}
#smIconId:hover{
    color: red;
}

.title{
    color: #181b29;
}
.row1header{
    padding-top: 1em;
    padding-bottom:.5em;
    
}
#countDownElement > div>*{
    width: fit-content;
    margin-inline: auto ;
    
    margin-top: auto;
    
}
#countDownElement > div{
    width: fit-content;
    margin-inline:auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#countDownElement{
    border: 4px solid lightblue;
    width: 60px;
    height: 60px;
    margin-inline: auto;
    border-radius: 25px;
    position: relative;
}
.hotDeal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: red;
}
.shopNowBtn{
    text-decoration: none;
    color: inherit;
    font-weight: bolder;
    
}
.shopNowBtn:hover{
    color: lightblue;
    
}
.userInput{
    height: 3em;
    width: 30em;
    border-width: 0px;
    border-right-width:2px;
    border-radius: 25px 0px 0px 25px;
    border: 2px solid blue;
    
    
}
.submitBtn>div{
    height: fit-content;
    width: fit-content;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    display: grid;
    grid-auto-flow: column;
    gap: .5em;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    
}
.submitBtn{
    height: 3em;
    background-color: blue;
    border-radius: 0px 25px  25px 0px;
    width: 10em;
    border-width: 0px;
    position: relative;
    padding-inline: 1em;
}
.form{
    display: grid;
    grid-auto-flow: column;
    height: fit-content;
    width: fit-content;
}
.submitBtnCtn{
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}
.socialMediaFollow>li{
    text-decoration: none;
    padding: .7em;
    border: 1px solid rgba(24, 27, 41, 0.5);
}
.socialMediaFollow>li:hover{
    background-color: rgba(128, 128, 128, 0.2);
}