#miniProduct{
    
    
    display: flex;
    gap: 1em;
    border: 1px solid rgba(24, 27, 41,.1);
    margin-inline: auto;
   

}


.productDesc{
  
    display: grid;
    padding-block: .1rem;
    gap: .2rem;
   
}
.productCat{
    font-size: 15px;
    height: fit-content;
    margin: 0px !important;
    padding: 0px;
    color: rgba(24, 27, 41,.7);
}
.productName{
    font-size: 15px;
    height: fit-content;
    margin: none !important;
    
}

.productName>a:hover{
    color: red;
}
.productName>*{
    text-decoration: none;
    color: rgba(24, 27, 41,1);
    ;
    
}

.productImgContainer{
    padding: none;
    margin: 0px;
    margin-block: auto;
    background-color: green;
   
}
.productImgContainer> img{
    width: 60px;
    height: 60px;
    padding: none;
    margin: none;
}
.productPrices{
    font-size: 12px;
    display: grid;
    grid-auto-flow: column;
    gap: 2em;

}
.productOldPrice{
    font-weight: 600;
    color: rgba(24, 27, 41, 0.7);
    font-size: 11px;
}
.productPrice{
    font-weight: bolder;
    color: red;
}
#link{
   margin: none !important; 
   padding: none !important; 
  
}
.productName{
    margin: 0px !important;
}