/* primari color #181b29 */
/* secondary color #54595f */
.product{
    text-align: center;
    border: 1px solid rgba(128, 128, 128, 0.3);
    height: fit-content;
    width: 250px;
    overflow: hidden;
    margin-inline: auto;
    
}
.productImgContainer{
    position: relative;
}
.productImgContainer>img{
    width: 250px;
    height: 210px;
    background-color: rgba(128, 128, 128, 0.1);
    
}
.productBody{
    padding: .1rem;
}
.prices{
    display: grid;
    grid-auto-flow: column;
    height: fit-content;
    justify-content: center;
    gap: 1em;
    margin-bottom: .5em;
    
}
.productOldPrice, .productNewPrice{
    height: fit-content;
    margin: 0px;
    padding: 0px;

}
.productNewPrice{
    color: red;
}
.productOldPrice{
    color: rgba(24, 27, 41, 0.7);
}
.wishListAndQuickViewBtn{
    display: grid;
    grid-auto-flow: column;
    
}

.wishListAndQuickViewBtn>*{
    width: 100%;
    text-align: center;
    border: none;
   
}
.addToCartBtnCnt{
    background-color: red;
    
}



.discount,.classification{
    background-color: red;
    width: 50px;
    color: white;
    position: absolute;
    
}
.discount{
    top: 10px;
    left: 10px;
}
.classification{
    top: 10px;
    right: 10px;
}
#productCat {
    color: rgba(24, 27, 41, 0.7);
    margin: 0px;
    padding: 0px;
    margin-bottom: .5em;
}
#productName>a{
    color: #181b29;
    text-decoration: none;
    font-size: 20px;
}
#productName{
    margin-bottom: .5em;
    
    
}
.addToWishListAndQuickViewText{
    padding: 0px;
    margin: 0px;
}
.addToCartBtn{
    width: 100%;
    text-align: center;
    font-size: 15px;
    background: #181b29;
    color: white;
    border-style: none;
    cursor: pointer;
    font-weight: bolder;
    border: 2px solid rgba(24, 27, 41);
}
.addToWishList , .quickViewBtn{
    background-color: rgba(0, 0, 255,1);
    color: white;
    cursor: pointer;
    font-weight: bolder;
    border: 2px solid rgba(0, 0, 255,1);
}
.addToWishList:hover , .quickViewBtn:hover{
    background-color: white;
    color: blue;
    
}
.addToCartBtn:hover{
    background-color: white;
    color: #181b29;
   
}
.productRatingCtn{
    margin-bottom: .5em;
    color: #181b29;
}